################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/net6.0
/.vs
/bin/Debug/net8.0
