@page "/checkout"
@inject OrderState OrderState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <a href="" class="nav-tab">
        <img src="img/pizza-slice.svg" />
        <div>Zamów Pizze</div>
    </a>

</div>

<div class="main">
    <div class="checkout-cols">
        <div class="checkout-order-details">
            <h4>Sprawdź zamówienie</h4>
            @foreach (var pizza in Order.Pizzas)
            {
                <p>
                    <strong>
                        @(pizza.Size)cm
                        @pizza.Special.Name
                        (@pizza.GetFormattedTotalPrice()zł)
                    </strong>
                </p>
            }

            <p>
                <strong>
                    Suma:
                    @Order.GetFormattedTotalPrice()zł
                </strong>
            </p>
        </div>
    </div>

    <button class="checkout-button btn btn-warning">
        Umieść zamówienie
    </button>
</div>

@code {
    Order Order => OrderState.Order;
}
