@page "/checkout"

@using BlazingPizza.Usługi
@inject OrderState OrderState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@layout MainLayout

<div class="main">
    <div class="checkout-cols">
        <div class="checkout-order-details">
            <h4>Sprawdź zamówienie</h4>
            @foreach (var pizza in Order.Pizzas)
            {
                <p>
                    <strong>
                        @(pizza.Size)cm
                        @pizza.Special.Name
                        (@pizza.GetFormattedTotalPrice()zł)
                    </strong>
                </p>
            }

            <p>
                <strong>
                    Suma:
                    @Order.GetFormattedTotalPrice()zł
                </strong>
            </p>
        </div>
    </div>

    <button class="checkout-button btn btn-warning" @onclick="PlaceOrder" disabled=@isSubmitting>
        Zamawiam
    </button>
</div>

@code {
    Order Order => OrderState.Order;

    bool isSubmitting;

    public async Task PlaceOrder()
    {
        isSubmitting = true;
        var response = await HttpClient.PostAsJsonAsync($"{NavigationManager.BaseUri}orders", OrderState.Order);
        var newOrderId = await response.Content.ReadFromJsonAsync<int>();
        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{newOrderId}");
    }
}
