@page "/favoritepizzas/{favorite?}"

@layout MainLayout
<h1>Wybierz Pizze</h1>

<p>Twoją ulubioną pizzą jest: @Favorite</p>

@code {

    [Parameter]
    public string Favorite { get; set; }

	protected override void OnInitialized()
	{
		Favorite ??= "Fiorentina";
	}
}
